/* styles.css */

/* Styles for the Navigation component */
.mx-3 {}

.homepage-title {
  margin-left: 80px;
  font-size: xx-large;
  /* Remove margin-top to display the header at the top */
}

#profile-pic {
  margin-left: 80px;
  height: 100px;
  border-radius: 50%;
}


#navbar {
  padding: 0px;
  height: 350px;
  width: 100%;
  background-image: url('/header-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  z-index: 100;
  margin-bottom: 20px;
}

.title {
  margin-left: 70px;
  font-family: OCR A Std, monospace;
}

.links {
  font-size: larger;
  text-align: right;
  list-style-type: none;
  margin-right: 80px;
  color: white;
}

.links li {
  margin-right: 20px;
  display: inline;
}

.links li a {
  margin-right: 20px;
  display: inline;
  color: white;
}

.footer ul {
  margin-top: 70px;
  text-align: center;
}

.footer ul li {
  text-align: center;
  display: inline;
  margin-right: 20px;
}

.footer-logo {
  height: 20px;
  margin-right: 10px;
}