/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

.background {
  margin-top: 2px;
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.1s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 1.0s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 1.0s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 1.0s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

}

#intro {
  font-size: large;
  color: black;
  margin-bottom: 50px;
  margin-top: 0px;
  margin-left: 300px;
}


.home-container {
  /* Increase the animation duration (e.g., 10s) */
  margin-top: 40px;
  margin-left: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.home-container p {
  font-size: xx-large;
  margin-top: 100px;
}

@keyframes animate {

  0%,
  100% {
    background-position: left top;
  }

  25% {
    background-position: right bottom;
  }

  50% {
    background-position: left bottom;
  }

  75% {
    background-position: right top;
  }
}

.homepage-title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  margin-left: 40px;
  border-bottom: 1px solid teal;
  font-size: xx-large;

}

/* 

.text-container h1 {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  font-size: 25px;
  color: white;

  /* background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80"); 
  background-repeat: repeat;
  -webkit-background-clip: text;
  /* animation: animate 150s ease-in-out infinite; 
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
} 
*/

.text-container {
  margin-left: 20px;
  border: 1px solid black;
  background-color: yellow;
}

.text-container a {
  text-decoration: none;
}

.text-container p {
  color: black;
  font-weight: bolder;
  margin-left: 2px;
  margin-right: 2px;

}



.portfolio-title {
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 70px;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid teal;
}

.center {
  margin-top: 30px;
  display: inline;
}

.center img {
  transition-duration: 0.3s;
  height: 200px;

}

#descriptionUI {
  padding-top: 0px;
  margin-top: 0px;

}

#functional {
  padding-top: 0px;
  margin-top: 10px;

}

.center :hover img {
  height: 300px;


}









.card-media {
  position: relative;
}

.overlay-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 4px;
}

.card-media:hover .overlay-text {
  display: inline;
}

.cards {

  background-color: rgba(105, 100, 100, 0.142);
  font-family: monospace;

}

.cards img {
  border: 1px solid black;
  filter: contrast(150%);


}

.cards :hover img {
  transform: scale(1.5);

}

.footer li:hover img {
  transform: scale(1.5);
}





.repo {

  text-decoration: none
}


#profile-pic {
  height: 200px;
  border-radius: 50%;
  margin-right: 40px;
}


#navbar {
  padding: 0px;
  height: 100px;
  width: 100%;
  background-image: url('/header-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 100;
  margin-bottom: 20px;

}

.title {
  font-size: 40px;
  margin-left: 70px;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(255, 68, 0, 0.744);
}

.links {
  font-size: 18px;
  text-align: right;
  list-style-type: none;
  margin-right: 80px;
  color: white;
  padding-bottom: 10px;
}

.links li {
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
  display: inline;

}

.links li a {
  text-decoration: none;
  margin-right: 20px;
  display: inline;
  color: white;

}

.links :hover {
  border-bottom: 1px solid teal;

}

.contact-title {
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 70px;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid teal;
}

ul li {
  list-style: none;
}

#resume-title {
  color: rgba(6, 192, 205, 0.658);
  margin-bottom: 10px;
  font-size: xx-large;

}

#resume-link {
  list-style: none;
  font-size: small;
  margin-bottom: 50px;
}

#skills {

  font-size: xx-large;
}

#skills2 {
  font-size: xx-large;
}

#skills li {
  font-size: large;
  color: rgba(6, 192, 205, 0.658);
  margin-bottom: 10px;
}

#skills ul :hover .list-item {
  transform: scale(2.2);

}

#skills2 ul :hover .list-item {
  transform: scale(2.2);

}

#skills2 li {
  font-size: large;

  margin-bottom: 10px;
  color: rgba(255, 68, 0, 0.744);

}

.footer ul {
  margin-top: 70px;
  text-align: center;
}

.footer ul li {
  text-align: center;
  display: inline;
  margin-right: 20px;
}



.footer-logo {
  height: 25px;
  margin-right: 10px;
}




@media (max-width: 768px) {

  #navbar {
    background-image: url('#');
    margin-bottom: 20px;

  }

  .links {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    width: 100%;


  }



  .links li {
    display: block;
    margin-bottom: 50px;

  }

  .links li a {
    color: black;
    font-size: 30px;



  }

  #about-me {
    background-color: #F18F01;
  }

  #portfolio {
    background-color: #048BA8;
  }

  #contact-me {
    background-color: #99C24D;
  }

  #resume {
    background-color: #2E4057;
  }

  .title {
    display: none;
  }

  .text-container {
    display: none;
  }

  .homepage-title {
    display: none;
  }

  .home-container img {
    display: none;
  }

  #intro {
    font-size: medium;
    margin-left: 0px;
    margin-top: 200px;
  }

}