.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.home-container {
  margin-top: 40px;
  margin-left: 100px;
  font-family: 'Courier New', Courier, monospace;
}

.homepage-title {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 40px;
  border-bottom: 1px solid teal;

}


.portfolio-title {
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 70px;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid teal;
}

.center {
  margin-top: 30px;
}

.card-media {
  position: relative;
}

.overlay-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 4px;
}

.card-media:hover .overlay-text {
  display: inline;
}

.cards {

  background-color: rgba(105, 100, 100, 0.142);
  font-family: monospace;

}

.cards img {
  border: 1px solid black;
  filter: contrast(150%);


}

.cards :hover img {
  transform: scale(1.5);

}

.footer li:hover img {
  transform: scale(1.5);
}





.repo {

  text-decoration: none
}


#profile-pic {
  height: 100px;
  border-radius: 50%;
}


#navbar {
  padding: 0px;
  height: 350px;
  width: 100%;
  background-image: url('/header-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 100;
  margin-bottom: 20px;

}

.title {
  font-size: 40px;
  margin-left: 70px;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(255, 68, 0, 0.744);
}

.links {
  font-size: 18px;
  text-align: right;
  list-style-type: none;
  margin-right: 80px;
  color: white;
}

.links li {
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
  display: inline;
}

.links li a {
  text-decoration: none;
  margin-right: 20px;
  display: inline;
  color: white;

}

.links :hover {
  border-bottom: 1px solid teal;

}

.contact-title {
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 70px;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid teal;
}

#resume-title {
  color: rgba(6, 192, 205, 0.658);
  margin-bottom: 10px;
  font-size: xx-large;

}

#resume-link {
  font-size: small;
  margin-bottom: 50px;
}

#skills {
  font-size: xx-large;
}

#skills2 {
  font-size: xx-large;
}

#skills li {
  font-size: large;
  color: rgba(6, 192, 205, 0.658);
  margin-bottom: 10px;
}

#skills ul :hover .list-item {
  transform: scale(2.2);

}

#skills2 ul :hover .list-item {
  transform: scale(2.2);

}

#skills2 li {
  font-size: large;

  margin-bottom: 10px;
  color: rgba(255, 68, 0, 0.744);

}

.footer ul {
  margin-top: 70px;
  text-align: center;
}

.footer ul li {
  text-align: center;
  display: inline;
  margin-right: 20px;
}



.footer-logo {
  height: 25px;
  margin-right: 10px;
}




@media (max-width: 768px) {

  #navbar {
    background-image: url('#');
    margin-bottom: 20px;

  }

  .links {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    width: 100%;


  }



  .links li {
    display: block;
    margin-bottom: 50px;

  }

  .links li a {
    color: black;
    font-size: 30px;



  }

  #about-me {
    background-color: #F18F01;
  }

  #portfolio {
    background-color: #048BA8;
  }

  #contact-me {
    background-color: #99C24D;
  }

  #resume {
    background-color: #2E4057;
  }

  .title {
    display: none;
  }


}